.questsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    flex-wrap: wrap;
}

.questsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
    flex-wrap: wrap;
}

.ant-collapse .ant-collapse-content {
    background-color: var(--secondary-color);
}

.checkboxContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
}

.questContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 150px;
    text-overflow: ellipsis;
    overflow-y: auto;
}

.questNpcLabel {
    font-size: 18px;
    font-weight: 700;
    color: var(--third-text-color);
    opacity: 0.9;
}

.questquestLabel {
    font-size: 18px;
    font-weight: 400;
    color: var(--third-text-color);
    opacity: 0.9;
}
.questExpLabel {
    font-size: 18px;
    font-weight: 400;
    color: var(--third-text-color);
    opacity: 0.9;
}
